@{
    ViewBag.Title = "About us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page-banner-section
================================================== -->
<section class="page-banner-section">
    <div class="container">
        <h2>Giới thiệu</h2>
        <ul class="page-depth">
            <li><a href='index.html'>Chăm sóc sức khỏe</a></li>
            <li><a href='about.html'>Giới thiệu</a></li>
        </ul>
    </div>
</section>
<!-- End page-banner section -->
<!-- about section
           ================================================== -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-post">
                    <img src="~/Content/images/upload/gallery/5.jpg" alt="">
                    <h2>Chúng tôi là ai? &amp; Chúng tôi làm gì?</h2>
                    <p>
                        Bác sĩ cần cung cấp thông tin chi tiết về chuyên môn và giờ làm việc, đồng thời tạo giao diện đặt lịch dễ sử dụng và gửi thông báo xác nhận cho bệnh nhân.
                    </p>
                    <p>
                        Đồng thời, bảo đảm bảo mật thông tin cá nhân và cung cấp tùy chọn hủy hoặc đổi lịch hẹn để nâng cao sự thuận tiện và hài lòng của bệnh nhân.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-post">
                    <!-- youtube -->
                    <iframe class="videoembed" width="580" height="350" src="https://www.youtube.com/embed/5CC-9AFuX3U" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    <!-- End youtube -->
                    <h2>Mọi thứ bạn nên biết về chúng tôi</h2>
                    <p>
                        Chào mừng bạn đến với dịch vụ đặt lịch khám bệnh của chúng tôi! Chúng tôi cam kết cung cấp cho bạn trải nghiệm y tế tiện lợi và hiệu quả bằng cách cung cấp thông tin chi tiết về các bác sĩ, giờ làm việc và dịch vụ của họ.
                    </p>
                    <p>
                        Hệ thống đặt lịch dễ sử dụng cho phép bạn chọn thời gian khám phù hợp và nhận thông báo xác nhận ngay lập tức. Chúng tôi đặt sự bảo mật thông tin của bạn lên hàng đầu và cung cấp các tùy chọn linh hoạt để hủy hoặc đổi lịch hẹn nếu cần. Đội ngũ của chúng tôi luôn sẵn sàng hỗ trợ bạn để đảm bảo rằng bạn nhận được sự chăm sóc tốt nhất.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about section -->
<!-- services
    ================================================== -->
<section class="services-about-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section alt-title">
                    <h1>TẠI SAO CHỌN CHÚNG TÔI?</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="flat-list list-left">
                    <ul>
                        <li class="content">
                            <h4 class="title">KHOA NỘI TỔNG QUÁT</h4>
                            <p>Đánh giá và điều trị các vấn đề sức khỏe tổng quát như bệnh lý tim mạch, tiêu hóa, và các triệu chứng không rõ nguyên nhân. Khoa này giúp theo dõi sức khỏe toàn diện và quản lý các bệnh mãn tính.</p>
                        </li>
                        <li class="content">
                            <h4 class="title">KHOA NGOẠI</h4>
                            <p>Cung cấp các dịch vụ phẫu thuật và điều trị các bệnh lý cần can thiệp phẫu thuật như viêm ruột thừa, gãy xương, và các vấn đề liên quan đến hệ cơ xương khớp. Khoa này cũng bao gồm phẫu thuật nội soi và các kỹ thuật ít xâm lấn.</p>
                        </li>
                        <li class="content">
                            <h4 class="title">KHOA NHI</h4>
                            <p>Đánh giá và điều trị các vấn đề sức khỏe của trẻ em từ sơ sinh đến tuổi trưởng thành. Khoa này tập trung vào việc phát hiện sớm các bệnh lý ở trẻ và cung cấp các dịch vụ chăm sóc y tế chuyên biệt cho trẻ em.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-image-services">
                    <img src="~/Content/images/featured-list.png" alt="images" />
                </div>
            </div>

            <div class="col-md-4">
                <div class="flat-list list-right">
                    <ul>
                        <li class="content">
                            <h4 class="title">KHOA DA LIỄU</h4>
                            <p>Điều trị các vấn đề liên quan đến da, bao gồm mụn trứng cá, eczema, và các bệnh lý da khác. Khoa này cũng cung cấp các dịch vụ chăm sóc da và tư vấn về các vấn đề thẩm mỹ liên quan đến làn da. </p>
                        </li>
                        <li class="content">
                            <h4 class="title">KHOA TÂM THẦN</h4>
                            <p>Cung cấp chẩn đoán và điều trị các rối loạn tâm lý và tâm thần, như trầm cảm, lo âu, và các vấn đề tâm lý khác. Khoa này hỗ trợ bệnh nhân bằng các liệu pháp tâm lý và điều trị bằng thuốc để cải thiện sức khỏe tinh thần và chất lượng cuộc sống.. </p>
                        </li>
                        <li class="content">
                            <h4 class="title">KHOA TAI MŨI HỌNG</h4>
                            <p>Điều trị các vấn đề liên quan đến tai, mũi, và họng, bao gồm viêm xoang, viêm tai giữa, và các rối loạn về giọng nói. Khoa này cung cấp các phương pháp điều trị nội khoa và phẫu thuật để giải quyết các bệnh lý về tai, mũi, họng và đường hô hấp trên. </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End services -->
<!--Get An Appointment Section-->
<section class="get-appointment text-center">
    <div class="container">
        <div class="title-section">
            <h1>CHÚNG TÔI CÓ THỂ GIÚP GÌ CHO BẠN?</h1>
        </div>
        <h3>Chúng tôi cam kết cung cấp dịch vụ y tế chất lượng cao, bao gồm chẩn đoán chính xác, điều trị hiệu quả và chăm sóc tận tâm.</h3>
        <p>Với đội ngũ bác sĩ chuyên môn và trang thiết bị hiện đại, chúng tôi sẵn sàng hỗ trợ bạn trong việc quản lý sức khỏe tổng quát, điều trị các bệnh lý đặc thù, và cải thiện chất lượng cuộc sống của bạn. Từ việc đặt lịch khám dễ dàng đến việc tư vấn và hỗ trợ trong các tình huống khẩn cấp, chúng tôi luôn ở đây để đáp ứng nhu cầu y tế của bạn và gia đình.</p>
       <br /><br />
    </div>
</section>
<!-- End Appointment section -->
<!-- team section
    ================================================== -->
<section class="team-section">
    <div class="container">
        <div class="title-section alt-title">
            <h1>BÁC SĨ TÀI NĂNG CỦA CHÚNG TÔI</h1>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/1.png" alt="">
                    <h2> Dr. Nguyễn Văn An</h2>
                    <span>Chức vụ: Bác sĩ Nội Tổng Quát</span>
                    <p>
                        Chuyên chẩn đoán và điều trị các bệnh lý tổng quát, từ bệnh tim mạch đến các vấn đề tiêu hóa và quản lý các bệnh mãn tính.

                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/4.png" alt="">
                    <h2>Dr. Levis Marot</h2>
                    <span>Surgery Specialist</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/3.jpg" alt="">
                    <h2>Dr. Dương Hoàng Thái</h2>
                    <span>Chức vụ: Bác sĩ Ngoại Khoa</span>
                    <p>Thực hiện các ca phẫu thuật và điều trị các bệnh lý cần can thiệp phẫu thuật, bao gồm cả phẫu thuật nội soi và phẫu thuật ít xâm lấn.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/7.png" alt="">
                    <h2>Dr. Lê Minh Hoàng</h2>
                    <span>Chức vụ: Bác sĩ Nhi</span>
                    <p>Chăm sóc và điều trị các vấn đề sức khỏe của trẻ em từ sơ sinh đến tuổi trưởng thành, bao gồm phát hiện sớm và quản lý các bệnh lý ở trẻ.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/5.png" alt="">
                    <h2>Dr. Phạm Anh Tuấn</h2>
                    <span>Chức vụ: Bác sĩ Da Liễu</span>
                    <p>Điều trị các vấn đề về da như mụn, eczema và các bệnh lý da khác, đồng thời cung cấp dịch vụ chăm sóc da và tư vấn thẩm mỹ.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/2.png" alt="">
                    <h2>Dr. Trần Thị Bích</h2>
                    <span>Chức vụ: Bác sĩ Tâm Thần</span>
                    <p>Chẩn đoán và điều trị các rối loạn tâm lý và tâm thần, bao gồm trầm cảm, lo âu và các vấn đề liên quan đến sức khỏe tinh thần.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/6.png" alt="">
                    <h2>Dr. Nguyễn Thị Thanh</h2>
                    <span>Chức vụ: Bác sĩ Y học Cổ truyền</span>
                    <p>Sử dụng các phương pháp y học cổ truyền như châm cứu, xoa bóp và thuốc thảo dược để điều trị các bệnh lý và cải thiện sức khỏe, với phương pháp tiếp cận toàn diện và tự nhiên.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="team-post">
                    <img src="~/Content/images/team/8.png" alt="">
                    <h2> Dr. Võ Văn Phúc</h2>
                    <span>Chức vụ: Bác sĩ Tai Mũi Họng</span>
                    <p> Điều trị các vấn đề về tai, mũi và họng, như viêm xoang, viêm tai giữa và các rối loạn về giọng nói và đường hô hấp trên.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End team section -->